* {
	font-family: Helvetica, sans-serif;
	color: #007A00;
}
section {
	text-align: center;
}
.A {
	height: 100px;
	width: auto;
}
body {
	font-size: 1em;
	background-color: #F5FFFF;
}
p {
	color: #000099;
}
li {
	color: #000099;
}
#top-banner {
	background-image: url(water.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: -10% 0px 0px 0px;
	height: 25%;
	width: 100%;
	border-radius: 50px;
	padding-top: 10%;
}
#top-banner p{
	font-size: 3em;
	font-family: cursive;
	background-color: none;
	color:#F5FFFF;
	text-align: center;
}
#navigation {
	height: 165px;
	font-size:125%;
}
#navigation ul {
	height: 25px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#navigation li {
	display: block;
}
#navigation li {
	height:25px;
	width:160px;
	padding:8px;
	float: center;
	background-color: #adebad;
	border-radius: 10px;
	color: #007A00;
	text-align: center;
	display: inline-block;
}
#navigation li a {
	text-decoration: none;
}
#navigation li a:hover {
	color: #000099;
}